
body {
    background: #cecece;
}

#wrapp {
    width: 100%;
    max-width: 980px;
    background: linear-gradient(45deg, red, blue);
    margin: 0 auto;
}
h1 {
    color: green;
}

p {
    //color: #000;
    font-weight: bold;
    /*box-sizing: border-box;*/
}